{% extends 'main.html'%}

{% block content %}
<div class="wrap">
    <div class="page">   
        <div id="imgPage">
            <h1 style="position: relative; top: 100px;">{{book.title}}</h1>
            <canvas id="pageCanvas"></canvas>
        </div>
        <div style="margin: 10px;">
            <h1 id="pageInfo">現在頁數：1/1</h3>
        </div>
        <div style="margin: 10px;">
            {% load static %}
            <button id="btnLastPage"><img id="imgBtnLastPage" src="{% static 'png/arrow_left.png'%}" width="50"></button>
            <button id="btnNextPage"><img id="imgBtnNextPage" src="{% static 'png/arrow_right.png'%}" width="50"></button>    
        </div>
    </div>    
</div>
<p id="strStrokes" style="color: #caf2ff;">{{book.sketch_strokes}}</p>
<p id="strStrokesColors" style="color: #caf2ff;">{{book.sketch_colors}}</p>
<p id="story" style="color: #caf2ff;">{{book.story}}</p>

{% load static %}
<script src="{% static 'sketch/book_page.js' %}"></script>

{% endblock content %}