
<option value="none">選一個！</option>
<optgroup label="動物">
    <option value="bird">鳥</option>
    <option value="cat">貓</option>
    <option value="dog">狗</option>
    <option value="bear">熊</option>
    <option value="sheep">綿羊</option>
    <option value="bee">蜜蜂</option>
    <option value="dragon">龍</option>
    <option value="mouse">老鼠</option>
    <option value="kangaroo">袋鼠</option>
    <option value="lion">獅子</option>
    <option value="monkey">猴子</option>
    <option value="zebra">斑馬</option>
    <option value="penguin">企鵝</option>
    <option value="dolphin">海豚</option>
    <option value="whale">鯨魚</option>
    <option value="crab">螃蟹</option>
    <option value="crocodile">鱷魚</option>
</optgroup>
<optgroup label="食物">
    <option value="apple">蘋果</option>    
    <option value="mushroom">蘑菇</option>
    <option value="pineapple">鳳梨</option>
    <option value="hamburger">漢堡</option>
    <option value="winebottle">酒瓶</option>
    <option value="wineglass">酒杯</option>
</optgroup>
<optgroup label="人">
    <option value="eye">眼睛</option>
    <option value="face">臉</option>
    <option value="mermaid">美人魚</option>
</optgroup>
<optgroup label="物品">
    <option value="violin">小提琴</option>
    <option value="cello">大提琴</option>
    <option value="eyeglasses">眼鏡</option>
    <option value="fan">風扇</option>
    <option value="sword">劍</option>
    <option value="teapot">茶壺</option>
    <option value="umbrella">雨傘</option>
</optgroup>
<optgroup label="其他">
    <option value="helicopter">直升機</option>
    <option value="castle">城堡</option>
    <option value="hospital">醫院</option>
    <option value="garden">花園</option>
    <option value="pond">池塘</option>
    <option value="table">桌子</option>
    <option value="fence">柵欄</option>
    <option value="sun">太陽</option>
</optgroup>
<option value="temp">測試用選項</option>

