
<option value="none">選一個！</option>
<optgroup label="動物">
    <option value="bird">鳥</option>
    <option value="cat">貓</option>
    <option value="dog">狗</option>
    <option value="bear">熊</option>
    <option value="sheep">綿羊</option>
    <option value="bee">蜜蜂</option>
    <option value="dragon">龍</option>
    <option value="mouse">老鼠</option>
    <option value="kangaroo">袋鼠</option>
    <option value="penguin">企鵝</option>
    <option value="dolphin">海豚</option>
</optgroup>
<optgroup label="食物">
    <option value="apple">蘋果</option>    
    <option value="mushroom">蘑菇</option>
    <option value="pineapple">鳳梨</option>
    <option value="winebottle">酒瓶</option>
    <option value="wineglass">酒杯</option>
</optgroup>
<optgroup label="人">
    <option value="eye">眼睛</option>
    <option value="face">臉</option>
    <option value="mermaid">美人魚</option>
</optgroup>
<optgroup label="其他">
    <option value="helicopter">直升機</option>
    <option value="garden">花園</option>
    <option value="pond">池塘</option>
    <option value="table">桌子</option>
</optgroup>
<option value="temp">測試用選項</option>

