<div class="pairs">
    <button class="btnColors" style="background-color: #ff2e2e;"></button>
    <button class="btnColors" style="background-color: #ff5d2b;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #ffca2b;"></button>
    <button class="btnColors" style="background-color: #ffa02b;"></button>
</div>

<div class="pairs">
    <button class="btnColors" style="background-color: #2bffb8;"></button>
    <button class="btnColors" style="background-color: #2bff60;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #2beaff;"></button>
    <button class="btnColors" style="background-color: #2ba0ff;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #752bff;"></button>
    <button class="btnColors" style="background-color: #392bff;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #992bff;"></button>
    <button class="btnColors" style="background-color: #ce2bff;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #ff2b8a;"></button>
    <button class="btnColors" style="background-color: #ff2be6;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #a00048;"></button>
    <button class="btnColors" style="background-color: #9c008a;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #5702a7;"></button>
    <button class="btnColors" style="background-color: #650084;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #4b0080;"></button>
    <button class="btnColors" style="background-color: #08007a;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #008291;"></button>
    <button class="btnColors" style="background-color: #004f8f;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #90a700;"></button>
    <button class="btnColors" style="background-color: #00922e;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #a64d00;"></button>
    <button class="btnColors" style="background-color: #a66c00;"></button>
</div>
<div class="pairs">
    <button class="btnColors" style="background-color: #920000;"></button>
    <button class="btnColors" style="background-color: #781c00;"></button>
</div>