{% extends 'main.html' %}

{% block content %}
<div class="whole">
    <div class="wrap">
        <div class="painting_area">
            <div class="left" style="width:26%">
                <div class="aicanvas_area">
                    <h1>AI畫布</h1>
                    <div style="display: flex; justify-content: flex-start;">
                        <canvas id="generatingBoard" ></canvas>
                        <div>
                            <h2 style="position:relative; top: 3%; left: 3%;">↑</h2>
                            <span><input type="range" min="-125" max="125" value="0" class="verticalSlider" id="AISketchPosYFix"></span>
                            <h2 style="position:relative; top: 75%; left: 3%;">↓</h2>
                        </div>
                    </div>
                    <div class="slidecontainer">
                        <h2>←<input type="range" min="-125" max="125" value="0" class="slider" id="AISketchPosXFix">→</h2>
                        <h2>－<input type="range" min="1" max="200" value="100" class="slider" id="AISketchSizeFix">＋</h2>
                    </div>
                    <div class="button">
                        <button id="btnClear" class="btnClear">
                            {% load static %}
                            <img src="{% static 'png/eraser.png' %}" width="60" height="40"></button>
                        <button id="btnGet" class="btnGet"><img id="imgBtnGet"src="{% static 'png/bot_laugh.png'%}" width="70"></button>
                        <!-- <button id="btnDraw" class="btnDraw">生成圖形</button> -->
                    </div>
                    <select name="options" id="options">
                        {% include 'casual/options.html'%}
                    </select>
                    <div class="palette">
                        {% include 'casual/palette.html' %}
                        <div class="clearfix"></div>
                        <button class="btnColors", style="background-color: white;"></button>
                        <button class="btnColors", style="background-color: black;"></button>
                        <button id="btnUndo">復原</button>
                    </div>
                </div>
            </div>
            <div class="right" style="width:70%">
                <div class="canvas_area">
                    <h1>畫布</h1>
                    <canvas id="sketchingBoard"></canvas>
                    <div class="clearfix"></div>
                    <!-- <select name="" id="optionsSave">
                        {% include 'casual/options.html'%}
                    </select>
                    <button id="btnSubmit" class="btnSubmit">儲存項目</button> -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="bottom">
            <div class="left" style="width: 50%;">
                <div class="story">
                    <h1>故事內容</h1>
                    <div>
                        <p id="storyResult"></p>
                        <button id="btnTxtConfirm"><img src="{% static 'png/writedown.png'%}" width="70"></button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="right" style="width: 50%;">
                <div class="chatArea">
                    <h1>輸入故事第一句</h1>
                    <div class="inputArea">
                        <textarea name="textInput" id="textInput" cols="30" rows="5" placeholder="寫句話吧！"></textarea>
                        <div class="txtAreaBtn" style="width: 60px;">
                            <button id="btnTxtSubmit" class="btnTxtSubmit"><img id="imgBtnTxtSubmit" src="{% static 'png/bot_laugh.png'%}" width="70"></button>
                            <!-- <button id="btnTxtGet" class="btnTxtGet">生成句子</button> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h1>生成結果</h1>
                    <p id="curContent"></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="left" style="background-image: url(../../../static/png/wooden_background.png); background-size: cover;width: 50%;">
            <div class="page_turn" style="height: 130px;">
                <h1 id="page_info">現在頁數：1/1</h1>
                <button id="btnLastPage"><img id="imgBtnLastPage" src="{% static 'png/arrow_left.png'%}" width="50"></button>
                <button id="btnNextPage"><img id="imgBtnNextPage" src="{% static 'png/arrow_right.png'%}" width="50"></button>
            </div>
        </div>
        <div class="right" style="background-image: url(../../../static/png/wooden_background.png); background-size: cover;width: 50%; ">
            <div class="story_save" style="height: 130px;">
                <h1>故事標題</h1>
                <textarea name="titleInput" id="titleInput" cols="30" rows="2" placeholder=""></textarea>
                <h1>作者名稱</h1>
                <textarea name="authorInput" id="authorInput" cols="30" rows="2" placeholder=""></textarea>
                <button id="btnSaveStory"><img id="imgBtnNextPage" src="{% static 'png/disk.png'%}" height="30"></button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>




{% load static %}
{% csrf_token %}
<!-- <script src="{% static 'sketch/canvas.js' %}"></script>
<script src="{% static 'sketch/textContent.js'%}"></script> -->
<script src="{% static 'sketch/create_story.js' %}"></script>


{% endblock content %}