/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 
   License: none (public domain) 
*/ 
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
        margin: 0; 
        padding: 0; 
        border: 0; 
        font-size: 100%; 
        font: inherit; 
        vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display: block;
} 
body {
        line-height: 1;
} 
ol, ul {
        list-style: none;
} 
blockquote, q {
        quotes: none; 
} 
blockquote:before, blockquote:after,
q:before, q:after {
        content: ‘’; 
        content: none; 
} 
table { 
        border-collapse: collapse; 
        border-spacing: 0; 
}



* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

.navbar {
    /* background-image: url('../page_background_ori.png'); */
    /* background-color: rgb(119, 167, 255); */
    /* background-color: blanchedalmond; */
    height: 80px;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body {
    /* background-image: url('../page_background.png'); */
    /* background-repeat: no-repeat;     */
    /* background-color: #e2f3fc; */
    background-color: blanchedalmond;
    background-image: url(../../../static/png/wooden_background.png); 
    background-size: 60%;
    font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁','微軟正黑體', sans-serif !important;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color:white;
    /* -webkit-text-stroke: 1px black; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {
    font-size: 16px;
    font-weight: bold;
    color:white;
    /* -webkit-text-stroke: 1px black; */
    text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}

a{
    color:lightcyan;
}

#sketchingBoard, #pageCanvas, #generatingBoard {
    /* border: 2px solid salmon; */
    /* background-color: white; */
    /* border: 3px solid rgb(94, 145, 249); */
    /* border: 5px solid white; */
    /* border-radius: 5px; */
    margin: 5px;
}

#sketchingBoard
{
    width: 700px;
    height: 450px;
    /* background-image: url(../../../static/png/sketchbook_T.png);  */
    /* background-image: url(../../../static/png/canvas_only.png); 
    background-size: cover; */
}

#generatingBoard {
    width: 250px;
    height: 250px;
    background-image: url(../../../static/png/sketchbook_T.png); 
    background-size: cover;
    border: 1px solid gray;
}


#options {
    position: relative;
    margin: 5px;
}

.painting_area, .bottom, .page, .story_save, .page_turn {
    /* background-color: #caf2ff; */
    background-color: rgba(255, 235, 205, 0.6);
    margin: 2px;
    /* border: 5px solid skyblue; */
    /* border: 5px solid white; */
    /* border-radius: 20px; */
    padding: 10px;
}

.canvas_area {
    background-image: url(../../../static/png/canvas_only.png); 
    background-size: cover; 
    width: 770px; 
    height: 495px; 
    text-align: center;
    border: 1px solid gray;
}

.button {
    position: relative;
    size: 20px;
    margin: 5px;
}

.btnColors, #btnEraser{
    width: 20px;
    height: 20px;
    border: solid 0.5px black;
}

#btnClear, #btnGet, #btnTxtSubmit ,#btnTxtConfirm, #btnLastPage, #btnNextPage, #btnSaveStory{
    border: 0px;
    background-color: transparent;
}

#btnLastPage {
    margin-right: 10px;
}

#btnTxtSubmit:active, #btnGet:active, #btnClear:active, #btnTxtConfirm:active, #btnLastPage:active, #btnNextPage:active, #btnSaveStory:active {
    /* background-color: #3e8e41; */
    /* box-shadow: 0 5px blanchedalmond; */
    transform: translateY(4px);
}

.left, .right{
    float: left;
    /* padding: 20px; */
}


.clearfix {
    clear: both;
}

.palette{
    /* background-color: rgb(162, 229, 255); */
    background-color: cornsilk;
    /* border: 3px solid rgb(94, 145, 249); */
    border: 1px solid gray;
    /* border-radius: 5px; */
    /* background-image: url(../../../static/png/wooden_background.png); */
    background-size:cover;
    padding: 3px;
    margin: 5px;
}

.pairs {
    float:left;
    width: 20px;
}

/* .inputArea {
    width: 100%;
    background-color: aquamarine;
} */

.bottom {
    background-color: rgba(255, 235, 205, 0.6);
    /* background-image: url(../../../static/png/wooden_background.png);  */
    /* background-size: cover; */
}

#textInput {
    width:70%;
    background-color: white;
    /* border: 3px solid rgb(94, 145, 249); */
    /* border: 5px solid white; */
    /* border-radius: 5px; */
}

#textInput, .txtAreaBtn, #storyResult, #btnTxtConfirm{
    float: left;
    margin: 5px;
    /* padding: 20px; */
}

#curContent, .curContent {
    height: 50%;
    border: 1px solid gray;
}

#curContent{
    /* background-color: white;
    border: 2px solid green; */
    background-color: white;
    /* border: 3px solid rgb(94, 145, 249); */
    /* border: 5px solid white; */
    /* border-radius: 5px; */
    width: 80%;
    height: 50px;
    margin: 5px;
}

/* .story  {
    background-image: url(../../../static/png/note_page_empty.png); 
    background-size: auto;
} */

#storyResult{
    /* background-color: white;
    border: 2px solid cornflowerblue; */
    background-color: white;
    border: 1px solid gray;
    /* border: 3px solid rgb(94, 145, 249); */
    /* border: 5px solid white; */
    /* border-radius: 5px; */
    width: 80%;
    height: 100px;
    margin: 5px;
}

/* .chatArea{
    float: left;
    width: 50%;
}
.story{
    float: left;
    width: 50%;
} */

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.books {
    padding: 40px; 
    width: 360px; 
    height: 240px; 
    margin: 10px;
    text-align: center;
    /* background-color: cornsilk; */
    border-radius: 5px;
    /* background-color: #caf2ff;
    border: 3px solid rgb(94, 145, 249);
    border-radius: 5px; */
    background-image: url(../../../static/png/sketchbook_cover.png);
    background-size: contain;
} 

.coverCanvas {
    /* border: 2px solid royalblue;  */
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px; 
    height: 160px;
    background-color: white;
    margin: 5px;
}

#imgPage {
    /* width: 1000px; */
    height: 760px;
    background-image: url(../../../static/png/sketchbook_page.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* text-align: center; */
}

#pageCanvas {
    margin-top: 120px;
    background-color: whitesmoke;
    border: solid 1px gray;
}

.page {
    text-align: center;
}